# Introducción a la Ciencia de Datos: Tarea 1

Este notebook contiene el código de base para realizar la Tarea 1 del curso. Puede copiarlo en su propio repositorio y trabajar sobre el mismo.
Las **instrucciones para ejecutar el notebook** están en la [página inicial del repositorio](https://github.com/DonBraulio/introCD).

Se utiliza el lenguaje Python y la librería Pandas. Si no tiene ninguna familiaridad con la librería, se recomienda realizar algún tutorial introductorio (ver debajo).
También se espera que los alumnos sean proactivos a la hora de consultar las documentaciones de las librerías y del lenguaje, para entender el código provisto.
Además de los recursos provistos en la [página del curso](https://eva.fing.edu.uy/course/view.php?id=1378&section=1), los siguientes recursos le pueden resultar interesantes:
 - [Pandas getting started](https://pandas.pydata.org/docs/getting_started/index.html#getting-started) y [10 minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html): Son parte de la documentación en la página oficial de Pandas.
 - [Kaggle Learn](https://www.kaggle.com/learn): Incluye tutoriales de Python y Pandas.


Si desea utilizar el lenguaje R y está dispuesto a no utilizar (o traducir) este código de base, también puede hacerlo.

En cualquier caso, **se espera que no sea necesario revisar el código para corregir la tarea**, ya que todos los resultados y análisis relevantes deberían estar en el **informe en formato PDF**.

## Cargar bibliotecas (dependencias)
Recuerde instalar los requerimientos (`requirements.txt`) en el mismo entorno donde está ejecutando este notebook (ver [README](https://github.com/DonBraulio/introCD)).

In [226]:
from time import time
from pathlib import Path

import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import numpy as np
import seaborn as sns
sns.set_theme(style="whitegrid")

## Conexión a la Base y Lectura de Datos

In [227]:
# Creamos el directorio Tarea_1/data/shakespeare
data_dir = Path("data") / "shakespeare"
data_dir.mkdir(parents=True, exist_ok=True)


def load_table(table_name, engine):
    """
    Leer la tabla con SQL y guardarla como CSV,
    o cargarla desde el CSV si ya existe
    """
    path_table = data_dir / f"{table_name}.csv"
    if not path_table.exists():
        print(f"Consultando tabla con SQL: {table_name}")
        t0 = time()
        df_table = pd.read_sql(f"SELECT * FROM {table_name}", engine)
        t1 = time()
        print(f"Tiempo: {t1 - t0:.1f} segundos")

        print(f"Guardando: {path_table}\n")
        df_table.to_csv(path_table)
    else:
        print(f"Cargando tabla desde CSV: {path_table}")
        df_table = pd.read_csv(path_table, index_col=[0])
    return df_table


print("Conectando a la base...")
conn_str = "mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/Shakespeare"
engine = create_engine(conn_str)

# DataFrame con todas las obras:
df_works = load_table("works", engine)

# Todos los párrafos de todas las obras
df_paragraphs = load_table("paragraphs", engine)

Conectando a la base...
Cargando tabla desde CSV: data/shakespeare/works.csv
Cargando tabla desde CSV: data/shakespeare/paragraphs.csv

### Se cargan las tablas restantes (personajes y capítulos):

In [228]:
# DataFrame con los datos de los personajes (characters)
df_characters = load_table("characters", engine)

Cargando tabla desde CSV: data/shakespeare/characters.csv

In [229]:
# DataFrame con los datos de los capítulos (chapters)
df_chapters = load_table("chapters", engine)

Cargando tabla desde CSV: data/shakespeare/chapters.csv

## Exploración de Datos

### Contenido de las tablas:

#### Works

In [230]:
# Veamos las obras incluídas:
df_works

,id,Title,LongTitle,Date,GenreType
0,1,Twelfth Night,"Twelfth Night, Or What You Will",1599,Comedy
1,2,All's Well That Ends Well,All's Well That Ends Well,1602,Comedy
2,3,Antony and Cleopatra,Antony and Cleopatra,1606,Tragedy
3,4,As You Like It,As You Like It,1599,Comedy
4,5,Comedy of Errors,The Comedy of Errors,1589,Comedy
5,6,Coriolanus,Coriolanus,1607,Tragedy
6,7,Cymbeline,"Cymbeline, King of Britain",1609,History
7,8,Hamlet,"Tragedy of Hamlet, Prince of Denmark, The",1600,Tragedy
8,9,"Henry IV, Part I","History of Henry IV, Part I",1597,History
9,10,"Henry IV, Part II","History of Henry IV, Part II",1597,History
10,11,Henry V,History of Henry V,1598,History
11,12,"Henry VI, Part I","History of Henry VI, Part I",1591,History
12,13,"Henry VI, Part II","History of Henry VI, Part II",1590,History
13,14,"Henry VI, Part III","History of Henry VI, Part III",1590,History
14,15,Henry VIII,History of Henry VIII,1612,History
15,16,Julius Caesar,The Tragedy of Julius Caesar,1599,Tragedy
16,17,King John,History of King John,1596,History
17,18,King Lear,The Tragedy of King Lear,1605,Tragedy
18,19,Lover's Complaint,A Lover's Complaint,1609,Poem
19,20,Love's Labour's Lost,Love's Labour's Lost,1594,Comedy
20,21,Macbeth,The Tragedy of Macbeth,1605,Tragedy
21,22,Measure for Measure,Measure for Measure,1604,Comedy
22,23,Merchant of Venice,"Merchant of Venice, The",1596,Comedy
23,24,Merry Wives of Windsor,"Merry Wives of Windsor, The",1600,Comedy
24,25,Midsummer Night's Dream,A Midsummer Night's Dream,1595,Comedy
25,26,Much Ado about Nothing,Much Ado about Nothing,1598,Comedy
26,27,Othello,"The Tragedy of Othello, Moor of Venice",1604,Tragedy
27,28,Passionate Pilgrim,The Passionate Pilgrim,1598,Poem
28,29,Pericles,"Pericles, Prince of Tyre",1608,History
29,30,Phoenix and the Turtle,The Phoenix and the Turtle,1601,Poem
30,31,Rape of Lucrece,The Rape of Lucrece,1594,Poem
31,32,Richard II,History of Richard II,1595,History
32,33,Richard III,History of Richard III,1592,History
33,34,Romeo and Juliet,The Tragedy of Romeo and Juliet,1594,Tragedy
34,35,Sonnets,Sonnets,1609,Sonnet
35,36,Taming of the Shrew,The Taming of the Shrew,1593,Comedy
36,37,Tempest,The Tempest,1611,Comedy
37,38,Timon of Athens,The Tragedy of Timon of Athens,1607,Tragedy
38,39,Titus Andronicus,Titus Andronicus,1593,Tragedy
39,40,Troilus and Cressida,Troilus and Cressida,1601,Tragedy
40,41,Two Gentlemen of Verona,Two Gentlemen of Verona,1594,Comedy
41,42,Venus and Adonis,Venus and Adonis,1593,Poem
42,43,The Winter's Tale,The Winter's Tale,1610,Comedy

In [231]:
# Obtener el tamaño del dataframe, es decir saber la cantidad total de obras.
df_works.shape
# Total de obras 43

(43, 5)

In [232]:
# Chequear si existen datos nulos referente a las Obras
df_works_clean=df_works.replace(['None','Null', '', ' '],np.nan)
df_works_clean.isnull().sum(axis=0).to_frame().rename(columns={0 : 'Count_Nulls'})

           Count_Nulls
id                   0
Title                0
LongTitle            0
Date                 0
GenreType            0

#### Paragraphs

In [233]:
df_paragraphs

,id,ParagraphNum,PlainText,character_id,chapter_id
0,630863,3,"[Enter DUKE ORSINO, CURIO, and other Lords; Mu...",1261,18704
1,630864,4,"If music be the food of love, play on;\nGive m...",840,18704
2,630865,19,"Will you go hunt, my lord?",297,18704
3,630866,20,"What, Curio?",840,18704
4,630867,21,The hart.,297,18704
...,...,...,...,...,...
35460,666323,3460,"That she is living,\nWere it but told you, sho...",866,19648
35461,666324,3467,"You gods, look down\nAnd from your sacred vial...",584,19648
35462,666325,3475,There's time enough for that;\nLest they desir...,866,19648
35463,666326,3483,"O, peace, Paulina!\nThou shouldst a husband ta...",667,19648
35464,666327,3504,[Exeunt],1261,19648

In [234]:
# Obtener la cantidad total de párrafos.
df_paragraphs.shape
#Total de párrafos 35465

(35465, 5)

In [235]:
df_paragraphs["PlainText"]

0        [Enter DUKE ORSINO, CURIO, and other Lords; Mu...
1        If music be the food of love, play on;\nGive m...
2                               Will you go hunt, my lord?
3                                             What, Curio?
4                                                The hart.
                               ...
35460    That she is living,\nWere it but told you, sho...
35461    You gods, look down\nAnd from your sacred vial...
35462    There's time enough for that;\nLest they desir...
35463    O, peace, Paulina!\nThou shouldst a husband ta...
35464                                             [Exeunt]
Name: PlainText, Length: 35465, dtype: object

In [236]:
# Chequear si existen datos nulos referente a los párrafos
df_para_clean=df_paragraphs.replace(['None','Null', '', ' '],np.nan)
df_para_clean.isnull().sum(axis=0).to_frame().rename(columns={0 : 'Count_Nulls'})

              Count_Nulls
id                      0
ParagraphNum            0
PlainText               0
character_id            0
chapter_id              0

#### Chapters

In [237]:
#Explorar los datos de la tabla chapters
df_chapters

        id  Act  Scene                          Description  work_id
0    18704    1      1                DUKE ORSINO’s palace.        1
1    18705    1      2                       The sea-coast.        1
2    18706    1      3                      OLIVIA’S house.        1
3    18707    1      4                DUKE ORSINO’s palace.        1
4    18708    1      5                      OLIVIA’S house.        1
..     ...  ...    ...                                  ...      ...
940  19644    4      3  A road near the Shepherd’s cottage.       43
941  19645    4      4              The Shepherd’s cottage.       43
942  19646    5      1           A room in LEONTES’ palace.       43
943  19647    5      2              Before LEONTES’ palace.       43
944  19648    5      3         A chapel in PAULINA’S house.       43

[945 rows x 5 columns]

In [238]:
# Obtener la cantidad total de capítulos.
df_chapters.shape
# Total 945

(945, 5)

In [239]:
# Chequear si existen datos nulos referente a los capítulos
df_chapter_clean=df_chapters.replace(['None','Null', '', ' '],np.nan)
df_chapter_clean.isnull().sum(axis=0).to_frame().rename(columns={0 : 'Count_Nulls'})

             Count_Nulls
id                     0
Act                    0
Scene                  0
Description            0
work_id                0

In [240]:
df_chapter_clean

        id  Act  Scene                          Description  work_id
0    18704    1      1                DUKE ORSINO’s palace.        1
1    18705    1      2                       The sea-coast.        1
2    18706    1      3                      OLIVIA’S house.        1
3    18707    1      4                DUKE ORSINO’s palace.        1
4    18708    1      5                      OLIVIA’S house.        1
..     ...  ...    ...                                  ...      ...
940  19644    4      3  A road near the Shepherd’s cottage.       43
941  19645    4      4              The Shepherd’s cottage.       43
942  19646    5      1           A room in LEONTES’ palace.       43
943  19647    5      2              Before LEONTES’ palace.       43
944  19648    5      3         A chapel in PAULINA’S house.       43

[945 rows x 5 columns]

#### Characters

In [241]:
#Explorar los datos de la tabla characters
df_characters

        id           CharName             Abbrev         Description
0        1   First Apparition   First Apparition                 NaN
1        2      First Citizen      First Citizen                 NaN
2        3  First Conspirator  First Conspirator                 NaN
3        4    First Gentleman    First Gentleman                 NaN
4        5         First Goth         First Goth                 NaN
...    ...                ...                ...                 ...
1261  1262       Duke of York               YORK  cousin to the king
1262  1263     Young Clifford     YOUNG CLIFFORD                 NaN
1263  1264   Young Coriolanus   Young CORIOLANUS   son to Coriolanus
1264  1265       Young Lucius       Young LUCIUS       son to Lucius
1265  1266       Young Siward       YOUNG SIWARD        Siward's son

[1266 rows x 4 columns]

In [242]:
# Obtener el total de personajes.
df_characters.shape
# Total 1266

(1266, 4)

In [243]:
# Se pide información sobre el dataframe, a priori parece estar todo bien
df_characters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1266 entries, 0 to 1265
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1266 non-null   int64
 1   CharName     1266 non-null   object
 2   Abbrev       1261 non-null   object
 3   Description  620 non-null    object
dtypes: int64(1), object(3)
memory usage: 49.5+ KB

In [244]:
df_char_clean=df_characters.replace(['None','Null', '', ' '],np.nan)
df_char_clean

        id           CharName             Abbrev         Description
0        1   First Apparition   First Apparition                 NaN
1        2      First Citizen      First Citizen                 NaN
2        3  First Conspirator  First Conspirator                 NaN
3        4    First Gentleman    First Gentleman                 NaN
4        5         First Goth         First Goth                 NaN
...    ...                ...                ...                 ...
1261  1262       Duke of York               YORK  cousin to the king
1262  1263     Young Clifford     YOUNG CLIFFORD                 NaN
1263  1264   Young Coriolanus   Young CORIOLANUS   son to Coriolanus
1264  1265       Young Lucius       Young LUCIUS       son to Lucius
1265  1266       Young Siward       YOUNG SIWARD        Siward's son

[1266 rows x 4 columns]

In [245]:
# Chequear si existen datos nulos referente a los personajes
df_char_clean.isnull().sum(axis=0).to_frame().rename(columns={0 : 'Count_Nulls'})

             Count_Nulls
id                     0
CharName               0
Abbrev                 5
Description          646

In [246]:
df_char_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1266 entries, 0 to 1265
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1266 non-null   int64
 1   CharName     1266 non-null   object
 2   Abbrev       1261 non-null   object
 3   Description  620 non-null    object
dtypes: int64(1), object(3)
memory usage: 49.5+ KB

## Limpieza de Texto y Conteo de Palabras

### Explorar símbolos

In [247]:
aux = df_paragraphs.copy()
# Convertir todo a minúsculas
result = df_paragraphs["PlainText"].str.lower()
# Quitar números y letras
abc = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0','a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'z', 'y', 'z']
for punc in abc:
    result = result.str.replace(punc, " ")
aux['Signos']=result
# Se obtienen los símbolos separados individualmente en filas
aux['Sign_list'] = aux['Signos'].str.split('\s+')
df_sign = aux['Sign_list'].explode("Sign_list")
df_sign_clean=df_sign.replace(['None','Null', '', ' '],np.nan)
df_sign = df_sign_clean.dropna()
df_sign

0         [
1         ,
2         ,
3         ;
4         ]
         ..
252622    '
252623    :
252624    .
252625    [
252626    ]
Name: Sign_list, Length: 221279, dtype: object

In [248]:
# Se ve qué valores hay y cuántos de cada tipo
df_sign.value_counts()

,      87941
.      37342
'      26427
;      16899
:      12312
       ...
?),        1
.]-        1
'"         1
],         1
--,        1
Name: Sign_list, Length: 87, dtype: int64

### Limpiar texto

In [249]:
def clean_text(df, column_name):
    # Convertir todo a minúsculas
    result = df[column_name].str.lower()

    # Quitar signos de puntuación y cambiarlos por espacios (" ")
    # Se incluyen los signos de puntuación buscados antes (excepto el apóstrofe)
    signos = ["[", "\n", ",", "]", ".", ";", "?", "!", ":", "-", "(", ")", "&",'"', "\t"]
    for punc in signos:
        result = result.str.replace(punc, " ")
    return result

# Creamos una nueva columna CleanText a partir de PlainText
df_paragraphs["CleanText"] = clean_text(df_paragraphs, "PlainText")

# Veamos la diferencia
df_paragraphs[["PlainText", "CleanText"]]

# Se eliminan las contracciones

,PlainText,CleanText
0,"[Enter DUKE ORSINO, CURIO, and other Lords; Mu...",enter duke orsino curio and other lords mu...
1,"If music be the food of love, play on;\nGive m...",if music be the food of love play on give me...
2,"Will you go hunt, my lord?",will you go hunt my lord
3,"What, Curio?",what curio
4,The hart.,the hart
...,...,...
35460,"That she is living,\nWere it but told you, sho...",that she is living were it but told you shou...
35461,"You gods, look down\nAnd from your sacred vial...",you gods look down and from your sacred vials...
35462,There's time enough for that;\nLest they desir...,there's time enough for that lest they desire...
35463,"O, peace, Paulina!\nThou shouldst a husband ta...",o peace paulina thou shouldst a husband tak...
35464,[Exeunt],exeunt

### Conteo de palabras

In [250]:
# Convierte párrafos en listas "palabra1 palabra2 palabra3" -> ["palabra1", "palabra2", "palabra3"]
df_paragraphs["WordList"] = df_paragraphs["CleanText"].str.split()

# Veamos la nueva columna creada
# Notar que a la derecha tenemos una lista: [palabra1, palabra2, palabra3]
df_paragraphs[["CleanText", "WordList"]]

,CleanText,WordList
0,enter duke orsino curio and other lords mu...,"[enter, duke, orsino, curio, and, other, lords..."
1,if music be the food of love play on give me...,"[if, music, be, the, food, of, love, play, on,..."
2,will you go hunt my lord,"[will, you, go, hunt, my, lord]"
3,what curio,"[what, curio]"
4,the hart,"[the, hart]"
...,...,...
35460,that she is living were it but told you shou...,"[that, she, is, living, were, it, but, told, y..."
35461,you gods look down and from your sacred vials...,"[you, gods, look, down, and, from, your, sacre..."
35462,there's time enough for that lest they desire...,"[there's, time, enough, for, that, lest, they,..."
35463,o peace paulina thou shouldst a husband tak...,"[o, peace, paulina, thou, shouldst, a, husband..."
35464,exeunt,[exeunt]

In [251]:
# Nuevo dataframe: cada fila ya no es un párrafo, sino una sóla palabra
df_words = df_paragraphs.explode("WordList")

# Quitamos estas columnas redundantes
df_words.drop(columns=["CleanText", "PlainText"], inplace=True)

# Renombramos la columna WordList -> word
df_words.rename(columns={"WordList": "word"}, inplace=True)

# Verificar que el número de filas es mucho mayor
df_words

           id  ParagraphNum  character_id  chapter_id        word
0      630863             3          1261       18704       enter
0      630863             3          1261       18704        duke
0      630863             3          1261       18704      orsino
0      630863             3          1261       18704       curio
0      630863             3          1261       18704         and
...       ...           ...           ...         ...         ...
35463  666326          3483           667       19648  dissever'd
35463  666326          3483           667       19648     hastily
35463  666326          3483           667       19648        lead
35463  666326          3483           667       19648        away
35464  666327          3504          1261       19648      exeunt

[890385 rows x 5 columns]

In [252]:
df_words_count = df_words['word'].value_counts().rename_axis('unique_words').reset_index(name='counts')
df_words_count

      unique_words  counts
0              the   28880
1              and   27286
2               to   20693
3                i   20686
4               of   17173
...            ...     ...
27078      hollows       1
27079   drawbridge       1
27080    justify't       1
27081      ang'red       1
27082          'si       1

[27083 rows x 2 columns]

In [253]:
df_words_count[0:25]

   unique_words  counts
0           the   28880
1           and   27286
2            to   20693
3             i   20686
4            of   17173
5             a   14915
6           you   13973
7            my   12923
8            in   11532
9          that   11472
10           is    9539
11          not    8854
12         with    8285
13           me    8041
14           it    7990
15          for    7970
16          his    7319
17           be    7162
18         this    6882
19         your    6856
20           he    6662
21          but    6597
22         have    6085
23           as    6040
24         thou    5764

In [ ]:
# Initialize the matplotlib figure
f, ax = plt.subplots(figsize=(6, 15))

# Plot the total crashes
sns.set_color_codes("pastel")
#sns.barplot(x="total", y="abbrev", data=crashes, label="Total", color="b")

# Plot the crashes where alcohol was involved
sns.set_color_codes("muted")
sns.barplot(x="counts", y="unique_words", data=df_words_count[0:50], label="Uso de palabras", color="b")

# Add a legend and informative axis label
#ax.legend(ncol=2, loc="lower right", frameon=True)
ax.set(xlim=(0, 30000), ylabel="",xlabel='Cantidad de apariciones',
       title="Frecuencia de aparición en la obra de Shakespeare\n(50 más frecuentes)")
sns.despine(left=True, bottom=True)

 ## Personajes con mayor cantidad de palabras

In [ ]:
# Agregamos el nombre de los personajes
# TODO: des-comentar luego de cargar df_characters
df_words_name = pd.merge(df_words, df_characters[["id", "CharName"]], left_on="character_id", right_on="id")

In [ ]:
# TODO:
# - des-comentar luego de hacer el merge
# - Encuentra algún problema en los resultados?

words_per_character = df_words_name.groupby("CharName")["word"].count().reset_index(name="count")
words_per_character = words_per_character.sort_values(by="count",ascending=False)

In [ ]:
df_words

In [ ]:

# Initialize the matplotlib figure
f, ax = plt.subplots(figsize=(6, 15))

# Plot the total crashes
sns.set_color_codes("pastel")

sns.set_color_codes("muted")
sns.barplot(x="count", y="CharName", data=words_per_character[0:25], label="Uso de palabras por Personajes", color="b")

# Add a legend and informative axis label
#ax.legend(ncol=2, loc="lower right", frameon=True)
ax.set(xlim=(0, 30000), ylabel="",xlabel='Cantidad de palabras',
       title="Uso de palabras por personajes \n(Primeros 25 con mayor uso de palabras)")
sns.despine(left=True, bottom=True)

In [ ]:
# Ejemplo: 10 personajes con más palabras
#char_show = words_per_character[:10]
#plt.bar(char_show.index, char_show.values)
#_ = plt.xticks(rotation=90)

 ## Párrafos por personaje

In [ ]:
# Agregamos el nombre de los personajes
df_paragraphs_name = pd.merge(df_paragraphs, df_characters[["id", "CharName"]], left_on="character_id", right_on="id")

# Cantidad de párrafos por personaje, ordenados de mas a menos cantidad
paragraphs_per_character = df_paragraphs_name.groupby("CharName")["id_x"].count().reset_index(name="count").sort_values(by="count",ascending=False)
paragraphs_per_character

In [ ]:
# Los 10 personajes con más cantidad de párrafos, quitando el primero que son las direcciones de escena.
#char_paragrapah_show = paragraphs_per_character[1:11]
#plt.bar(char_paragrapah_show.index, char_paragrapah_show.values)
#_ = plt.xticks(rotation=90)

In [ ]:

# Initialize the matplotlib figure
f, ax = plt.subplots(figsize=(6, 15))

# Plot the total crashes
sns.set_color_codes("pastel")

sns.set_color_codes("muted")
#Se quita el primero porque corresponde a las direcciones de escena
sns.barplot(x="count", y="CharName", data=paragraphs_per_character[1:25], label="Cantidad de párrafos por Personajes", color="b")


ax.set(xlim=(0, 1000), ylabel="",xlabel='Cantidad de párrafos',
       title="Cantidad de párrafos por personajes \n(Primeros 25)")
sns.despine(left=True, bottom=True)

## Personajes principales por obra

### Personajes principales por obra (cantidad de párrafos).

In [ ]:
#Personajes principales de cada obra
# Agrega los capítulos correspondientes a los párrafos
df_pgr_chpt_chr = pd.merge(df_paragraphs_name, df_chapters[["id", "work_id"]], left_on="chapter_id", right_on="id")

df_pgr_chpt_chr

In [ ]:
#Agrega las obras correspondientes a cada capítulo
df_pgr_chpt_work_chr = pd.merge(df_pgr_chpt_chr[["id_x","character_id", "WordList", "chapter_id", "CharName", "work_id"]], df_works[["id", "Title", "Date"]], left_on="work_id", right_on="id")

df_pgr_chpt_work_chr

In [ ]:
# Cantidad de párrafos por personaje agrupado por obra, ordenados de mas a menos cantidad
paragraphs_per_character_per_work = df_pgr_chpt_work_chr.groupby(["CharName", "work_id"])["id_x"].count().reset_index(name="count")
paragraphs_per_character_per_work

In [ ]:
#Obtener los principales 2 personajes de cada obra, teniendo en cuenta la cantidad de párrafos
first_characters_per_work = pd.merge(df_works[["id", "Title", "Date"]], paragraphs_per_character_per_work[["CharName", "work_id", "count"]], right_on="work_id", left_on="id")
first_characters_per_work.sort_values(['work_id', 'count'], ascending = False).groupby("work_id").head(2)

In [ ]:
first_characters_per_work[~first_characters_per_work["CharName"].str.contains("stage directions")]

In [ ]:
# Eliminar las columnas con CharName "stage directions", las cuales no representan personajes
principal_charactters_show = first_characters_per_work[(~first_characters_per_work["CharName"].str.contains("stage directions"))]
principal_charactters_show

In [ ]:
# Obtención de personajes principales de cada obra
principal_charactters_show = principal_charactters_show.sort_values(['work_id', 'count'], ascending = False).groupby("work_id").head(1)[["Title", "CharName", "count"]]
principal_charactters_show  = principal_charactters_show.sort_values(by="count",ascending=False)
principal_charactters_show

In [ ]:
principal_charactters_show['CharNameTitle'] = principal_charactters_show['Title'] + " - " + principal_charactters_show['CharName']
# Initialize the matplotlib figure
f, ax = plt.subplots(figsize=(8, 15))

# Plot the total crashes
sns.set_color_codes("pastel")

sns.set_color_codes("muted")
#Se quita el primero porque corresponde a las direcciones de escena
splot = sns.barplot(x="count", y="CharNameTitle", data=principal_charactters_show, label="Personajes principales por obra", color="b")


ax.set(xlim=(0, 410), ylabel="",xlabel='Cantidad de párrafos',
       title="Personajes principales por obra")
sns.despine(left=True, bottom=True)

 ### Personajes principales (contando cantidad de palabras)

In [ ]:
# Agregamos el nombre de los personajes
df_word_name = pd.merge(df_words, df_characters[["id", "CharName"]], left_on="character_id", right_on="id")

#Personajes principales de cada obra
# Agrega los capítulos correspondientes a los párrafos
df_wrd_chpt_chr = pd.merge(df_word_name, df_chapters[["id", "work_id"]], left_on="chapter_id", right_on="id")

#df_wrd_chpt_chr

In [ ]:
#Agrega las obras correspondientes a cada capítulo
df_wrd_chpt_work_chr = pd.merge(df_wrd_chpt_chr[["id_x","character_id", "word", "chapter_id", "CharName", "work_id"]], df_works[["id", "Title", "Date"]], left_on="work_id", right_on="id")

# Cantidad de palabras por personaje agrupado por obra, ordenados de mas a menos cantidad
wrd_per_character_per_work = df_wrd_chpt_work_chr.groupby(["CharName", "work_id"])["id_x"].count().reset_index(name="count")
wrd_per_character_per_work

#Obtener los principales 2 personajes de cada obra, teniendo en cuenta la cantidad de palabras
first_characters_per_work_wrd = pd.merge(df_works[["id", "Title", "Date"]], wrd_per_character_per_work[["CharName", "work_id", "count"]], right_on="work_id", left_on="id")
first_characters_per_work_wrd.sort_values(['work_id', 'count'], ascending = False).groupby("work_id").head(2)

In [ ]:
# Eliminar las columnas con CharName "stage directions", las cuales no representan personajes
principal_charactters_show_wrd = first_characters_per_work_wrd[(~first_characters_per_work_wrd["CharName"].str.contains("stage directions"))]


# Obtención de personajes principales de cada obra
principal_charactters_show_wrd = principal_charactters_show_wrd.sort_values(['work_id', 'count'], ascending = False).groupby("work_id").head(1)[["Title", "CharName", "count"]]
principal_charactters_show_wrd['CharNameTitle'] = principal_charactters_show_wrd['Title'] + " - " + principal_charactters_show_wrd['CharName']

principal_charactters_show_wrd  = principal_charactters_show_wrd.sort_values(by="count",ascending=False)
principal_charactters_show_wrd

In [ ]:
# Initialize the matplotlib figure
f, ax = plt.subplots(figsize=(8, 15))

# Plot the total crashes
sns.set_color_codes("pastel")

sns.set_color_codes("muted")
#Se quita el primero porque corresponde a las direcciones de escena
sns.barplot(x="count", y="CharNameTitle", data=principal_charactters_show_wrd, label="Personajes principales por obra", color="b")


ax.set(xlim=(0, 18100), ylabel="",xlabel='Cantidad de palabras',
       title="Personajes principales por obra")
sns.despine(left=True, bottom=True)

 ## Obras al correr de los años

In [ ]:
works_per_year = df_works.groupby("Date")["id"].count().sort_values(ascending=False)
works_per_year

In [ ]:
plt.bar(works_per_year.index, works_per_year.values)
_ = plt.xticks(rotation=90)

In [ ]:
df_works["Date"].plot(kind='hist',bins=15)

In [ ]:
works_per_year_genretype_group = df_works.groupby(["Date", "GenreType"])["id"].count().sort_values(ascending=False)
works_per_year_genretype_group = works_per_year_genretype_group.reset_index(name="count")
works_per_year_genretype_group

In [ ]:

sns.barplot(data=works_per_year_genretype_group, x='Date', y='count', hue='GenreType')

In [ ]:
fig = sns.displot(data=works_per_year_genretype_group, kind='kde', x='Date', hue='GenreType')

In [ ]:
#define index column
#works_per_year_genretype_group.set_index('Date', inplace=True)
#works_per_year_genretype_group.groupby('GenreType')['count'].plot(legend=True)
pd.pivot_table(works_per_year_genretype_group.reset_index(),
               index='Date', columns='GenreType', values='count'
              ).plot(subplots=True)

In [ ]:
works_per_year_genretype = df_works[["Date", "GenreType"]]
works_per_year_genretype

In [ ]:
#plt.bar(df_works["Date"], df_works["GenreType"])
#_ = plt.xticks(rotation=90)